database_uri=
                                                             
qdrant_api_key=
qdrant_api_url=

ollama_api_key=
hf_token=

AWS_BUCKET_NAME=
AWS_BUCKET_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

AUTH0_DOMAIN=
AUTH0_AUDIENCE=





